<?xml version="1.0" encoding="UTF-8"?>
<root>
	<url>https://dev.azure.com</url>
	<organizationName>sunneshamudi2015</organizationName>
	<projectName>sunneshamudi</projectName>
	<FilterID>6b9c9fc1-9795-4e14-a4f6-16aafbb9a24a</FilterID>
	<username>dhrusoni92@gmail.com</username>
	<password>RE4qc29uaTky</password>
</root>